  apiVersion: v1
  kind: Service
  metadata:
    name: kubernetes-dashboard
    namespace: kube-system
    labels:
      app: kubernetes-dashboard
      kubernetes.io/cluster-service: "true"
  spec:
    selector:
      app: kubernetes-dashboard
    ports:
    - port: 80
      targetPort: 9090
